langchain
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python-dotenv
typesense
langgraph
langchain-text-splitters
langchain-huggingface
arxiv
wikipedia